.admin-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #c9c0d2, #415e95);
}

.admin-main {
    flex: 1;
    padding: 2rem;
    margin-top: 40px;

}